<main class="dashboard">

    <%- include('./dashnav.ejs') %>
       
   

    <div class="book">

        <div class="book__wrapper">

            <div class="book__content mb-5">
                <div class="book__titlecon mb-4 d-flex align-items-center">
                    <%- include('./dashbtn.ejs') %>
                    <p class="book__title"><span>Add Books</span></p>
                </div>
                   
               <form  id="bookform" class="row flex-md-row  book__form d-flex flex-column justify-content-center align-items-center">

                    <div class="book__input col me-4">
                        <label for="exampleInputEmail1" class="form-label visually-hidden">Email address</label>
                        <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp" placeholder="Book Title" required>
                        <div id="emailHelp " class="form-text"></div>
                    </div>

                    <div class="book__input col me-4">
                        <label for="exampleInputEmail1" class="form-label visually-hidden">Email address</label>
                        <input type="text" class="form-control" id="author" name="author" aria-describedby="emailHelp" placeholder="Author" required>
                        <div id="emailHelp" class="form-text"></div>
                    </div>

                    <div class="book__input col me-4">
                        <label for="exampleInputEmail1" class="form-label visually-hidden">Email address</label>
                        <input type="text" class="form-control" id="recom" name="recom" aria-describedby="emailHelp" placeholder="Recommended By" required>
                        <div id="emailHelp" class="form-text"></div>
                    </div>

                   <div class="book__btnwrapper col">
                    <button class="book__btn"><i class="fas fa-plus"></i></button>  
                   </div>
                       
               </form>
            </div>

            <div class="book__listcont">

                <div class="book__titlecon mb-4 d-flex justify-content-between align-items-center">
                    <p class="book__title m-0"><span><%= user.UserName %> Books</span></p>
                    <div class="book__pagination">
                        <a id="prev" class="primary book__pagebtn p-2  rounded-3 me-3" href="#">Prev</a>
                        <a id="next" class="primary book__pagebtn p-2 rounded-3" href="#">Next</a>
                    </div>
                   
                </div>
                
                <div id="bookwrapper" class="book__listwrapper d-flex flex-wrap  align-items-center justify-content-between">

                    <div id="animcontainer" class='book__nobooks animate d-flex flex-column align-items-center justify-content-center'> 
                         <img src="/assets/Bookkeeper/lovereading.svg" alt="no books">
                         <p class="book__vault m-0">Book Vault is empty</p>
                    </div>
                
                    <%  if(typeof bookdata !== 'undefined'){
                        
                    for(let i = 0; i < bookdata.length; i++){%>
                    <!-- this is the wrapper  -->
              
                        <!-- cards  -->
                        <div  class=" book__bookitem my-3 d-flex align-items-center justify-content-between p-3"> 

                            <div class="book__bookcontent">

                                
                                <div id="<%= bookdata[i].title%>" class="container d-flex align-items-center m-0 p-0">
                                    <div class="book__cover me-3">
                                        <img class="book__img" src="<%= bookdata[i].images %>" alt="author cover" >
                                    </div>
                                    <p class="book__text m-0 "><span><%= bookdata[i].title %> by <%= bookdata[i].author %> </span></p>
                                    <a id="bookdel" class="book__delete" href="#"><i class="fas fa-times-circle"></i></a>
                                </div>
                                
                                <hr class="book__divider">
                                <p class="book__descrip m-0"><span><%= bookdata[i].descrip %></span></p>
                                <hr class="book__divider">
                                <p class="book__text m-0"><span>Recommended by : <%= bookdata[i].recom%> </span></p>
                            </div>
                
                            <div class="book__bookaction d-flex flex-column align-items-center">
                                    <span class="rounded-3"><%= bookdata[i].rating %></span>
                                    <span class="mb-3"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                                    <a href="<%= bookdata[i].review %>" target="_blank" class="book__cta p-2 rounded-3">View Review</a>
                            </div>
                        
                        </div>
                  
                     <%}
                   
                     }%>   
                     
                     
                
                </div>
            </div>    
       
    </div>

 </main>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js" integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 



