<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.css"/>

    <% if (typeof elements !== "undefined" && elements.length) {
        elements.map(el=>{
           if(el.endsWith('.css')){
               if(!el.match('//')  ){ %>

       <link rel="stylesheet" href="<%= path+el %>">
       <% } else {%>
           <link rel="stylesheet" href="<%= el %>">
           <% }}})  } %>
    
 
    <title><%- title %></title>
</head>
    <body data-spy="scroll" data-target="#secnavbar">
       
    <%-body%>

        <% if (typeof elements !== undefined && elements.length) {
            elements.map(el=>{
                if(el.endsWith('.js') ){
                    if(!el.match('//')  ){ 
        %>
                <script src="<%= path+el %>"></script>
                <% }
        else { %>
                    <script src="<%= el %>"></script>
                    <% }  }}) } %>
       
    </body>
    
</html>